<div class="container d-flex justify-content-center text-center">
  <div class="card">
    <%= form_with(model: merchant) do |form| %>
      <% if merchant.errors.any? %>
        
        <div class="message is-danger">
          <div class="message-header">
          <p><%= pluralize(merchant.errors.count, "error") %> prohibited this merchant from being saved:</p>
        </div>

          <div class="message-body">
          <ul>
            <% merchant.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :name, class: "label" %>
        <%= form.text_field :name, class: "input", placeholder: "Name"  %>
      </div>

      <div class="field">
        <%= form.label :city, class: "label" %>
        <%= form.text_field :city, class: "input", placeholder: "City" %>
      </div>

      <div class="field">
        <%= form.label :street, class: "label" %>
        <%= form.text_field :street, class: "input", placeholder: "Street" %>
      </div>

      <div class="field">
        <%= form.label :country_code, class: "label" %>
        <%= form.text_field :country_code, class: "input", placeholder: "Country code" %>
      </div>

      <div class="field">
        <%= form.label :phone_number, class: "label" %>
        <%= form.text_field :phone_number, class: "input", placeholder: "Phone number" %>
      </div>

      <div class="field">
        <%= form.label :website, class: "label" %>
        <%= form.text_field :website, class: "input", placeholder: "Website" %>
      </div>

      <button type="submit" class="btn btn-outline-secondary"> Create </button>
       <%= link_to "Back", merchants_path, class: "btn btn-outline-dark" %> 
  </div>
</div>
<% end %>

